.moving{
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  /*width: 10%;*/
  /*height: 90%;*/
  /*margin-top: 1%;*/
  display: inline-block;
}

#avatar{
  position: absolute;
  float: left;
  clear: all;
  z-index: 6;
  width: 40px;
}

.car_slider{
  height: 100px;
  margin: -120px auto;
  position: relative;
  width: 480px;
  z-index: 3;
}

#track{
  text-align:center;
}

.grass {
  display: inline-block;
  background-color: green;
  width: 63px;
  height: 100%;
  background-image: url("../images/grass.jpg");

}

.road {
  display: inline-block;
  background-color: #383c3e;
  width: 230px;
  height: 100%;
  /*background-image: url("../images/asphalt.jpg");*/

}

.road-stripe {
  display: inline-block;
  position: absolute;
  width: 230px;
  height: 30px;
  background-color: #464C4E;
  z-index:1;
}

.centre-line {
  display: inline-block;
  background-color: lightgrey;
  width: 10px;
  height: 100%;

}

.centre-line-stripe {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: black;

}

.side_line {
  display: inline-block;
  width: 10px;
  height: 100%;
  background-color: orange;
}

.side_line {
  display: inline-block;
  width: 10px;
  height: 100%;
  background-color: orange;
}

.stripe {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: lightgrey;
}


#scoreboard{
  position: absolute;
  display:block;
  background-color: white;
  border: black solid 4px;
  height: 100px;
  text-align: center;
  margin-top:80px;
  z-index: 4;
  width: 640px;
}

.obstacle {
  display: inline-block;
  z-index: 3;
  width: 50px;
}

.obstacle.death.crash {
  width: 60px;
}

.obstacle.death.barrel {
  width: 20px;
}

.bonus{
  width: 50px;
}


