.moving{
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  background-color:purple;
  /*width: 10%;*/
  /*height: 90%;*/
  /*margin-top: 1%;*/
  display: inline-block;
}

#avatar{
  position:absolute;
  float: center;
  clear: all;
  z-index: 3;
  margin-top: 400px;
  width:80px;
}

#track{
  text-align:center;
}

.grass {
  display: inline-block;
  background-color: green;
  width: 40px;
  height: 100%;

}

.road {
  display: inline-block;
  background-color: blue;
  width: 230px;
  height: 100%;

}

.centre-line {
  display: inline-block;
  background-color: lightgrey;
  width: 10px;
  height: 100%;

}

.centre-line-stripe {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: black;

}

.side_line {
  display: inline-block;
  width: 10px;
  height: 100%;
  background-color: orange;
}

.stripe {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: lightgrey;
}

#scoreboard{
  position: absolute;
  display:block;
  background-color: white;
  border: black solid 4px;
  height: 100px;
  text-align: center;
  margin-top: -20px;
  z-index: 4;
  width: 640px;
}




